
mqtt-server=mqtt://localhost:1883
mqtt-client=hostmon
mqtt-topic-prefix=system/monitor
mqtt-tls-insecure=false
mqtt-reconnect-delay=5
mqtt-reconnect-delay-max=60

interval-platform=86400
interval-system=300

check-processes=mosquitto
check-timesync=true
check-gateway=true
check-resolve=google.com
#check-topics=iotdata/stats/#

debug=false
