# -------------------------------------------------------------------------
# hostmon — host system monitor configuration
# -------------------------------------------------------------------------

# mqtt broker
mqtt-client=hostmon
mqtt-server=mqtt://localhost:1883
mqtt-topic-prefix=system/monitor
mqtt-tls-insecure=false
mqtt-reconnect-delay=5
mqtt-reconnect-delay-max=60

# publication intervals (seconds)
interval-platform=86400
interval-system=300

# check processes, csv list of process names
check-processes=mosquitto
# check time synchronisation to ntp, true or false
check-timesync=true
# check local gateway reachable, true or false
check-gateway=true
# check dns resolver
check-resolve=google.com
# check mqtt topics, e.g. check-topics=localhost;iotdata/stats/#, or check-topics=iotdata/stats/#
#check-topics=iotdata/stats/#

# debug
debug=false
